{{#unless this.isHidden}}
  <div class="animated-tools {{if this.isOpen "is-open"}}" ...attributes>
    <div class="animated-tools-launcher" role="button" {{action "toggle"}}>
      <MotionIndicator />
      â±{{! <--- there's an emoji here, in case your editor doesn't show it }}
    </div>
    <div class="animated-tools-panel">
      <TimeControl />
    </div>
  </div>
{{/unless}}
