# unconventional js
/blueprints/*/files/

# compiled output
/dist/
/declarations/

# misc
/coverage/
!.*
.lint-todo/

# Prettier does not support @task(function () {}).restartable() modifier
/src/components/time-control.js
