<div class="demo-app">

  <header>
    <MotionIndicator />
    <button type="button" {{action "toggle"}}>Toggle</button>
    <TimeControl />
  </header>


  {{#animated-if this.showLeft rules=this.rules}}
    <div class="demo-item left">Left</div>
  {{else}}
    <div class="demo-item right">Right</div>
  {{/animated-if}}

</div>